body
{
	width: 1000px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
}
.phanthan
{
	width: 100%;
	height: auto;
}
.menutrai
{
	width: 20%;
	height: auto;
	text-align: left;
	float: left;
}
.menuphai
{
	width: 20%;
	height: auto;
	text-align: right;
	float: right;
}
.menungang
{
	width: 99%;
	height: 31px;
	background-color:  #013A57;
	border-bottom: 2px solid gray;
	border-top: 1px solid gray;
	margin-bottom: 10px;
	padding-top:5px;
	padding-left:10px;
}

.menungang ul
{
	margin-top: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
}
/*
.menungang ul li
{
	float: left;
	/*display: inline;
	height: 30px;
}
.menungang ul li a
{
	color: White;
	text-decoration: none;
	text-align: left;
	padding: 4px 10px 4px 10px;
	display: block;
	border-left: 1px solid #cacaca;
	font-weight: bold;
}
.menungang ul li a:hover
{
	color: Yellow;
}*/




#topnav, #topnav ul
{
	/*list-style: none;
	position: relative;
	line-height: 1.5em;
	*/
	list-style:none;
	position:relative;
	line-height:2.0em;
	top: 0px;
	left: 0px;
}

#topnav a:link, #topnav a:active, #topnav a:visited
{
	display: block;
	padding: 0px 23px;
	color: white;
	text-decoration: none;
	background:  #013A57;
	border-right: 1px solid #6699FF;
	/*display: block;
	padding: 0px 25px;
	color:Purple;
	text-decoration: none;
	background:  #013A57;
	border-right: 1px solid #6699FF;
	border-left: 1px solid #6699FF;

*/
/*display:block;
	padding:0px 25px;
	color:#000000;
	text-decoration:none;
	list-style-type: none;
	padding:0px 25px;
	background-color: #BFBFBF;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: #EEEEEE;
	border-left-color: #E5E5E5;
	border-left-width: 1px;
*/
}

#topnav a:hover
{
	/*background: #0066FF;*/
	color: #FFFF00;
	text-decoration: underline;
}

#topnav li
{
	float: left;
	position: relative;
}

#topnav ul
{
	position: absolute;
	width: 12em;
	top: 1.5em;
	display: none;
	-moz-border-radius: 10px 10px 0px 0px;
}

#topnav li ul a
{
	width: 12em;
	float: left;
}

#topnav ul ul
{
	top: auto;
}

#topnav li ul ul
{
	left: 12em;
	margin: 0px 0 0 10px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul
{
	display: none;
}

#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul
{
	display: block;
}



/* Đoạn CSS này cho menu dạng VNExpress
.children
{
}
ul#topnav
{
	position: relative;
}

ul#topnav li
{
	float: left;
	border-right: 1px solid white;
}
ul#topnav li a
{
	padding: 5px 15px;
	display: block;
}
ul#topnav li:hover
{
	background-color: #0066FF;
}
ul#topnav li ul.children
{
	float: left;
	height: 25px;
	line-height: 20px;
	padding: 5px;
	position: absolute;
	left: 0px;
	top: 30px;
	display: none;
	background:#FF00CC;
	color: black;
}

ul#topnav li ul.children li
{
	border: none;
}
ul#topnav li:hover ul
{
	display: block;
}
ul#topnav li ul a
{
	/*display: inline;
}
ul#topnav li ul a:hover
{
	text-decoration: none;
	display: block;
	font-weight:bolder;
}
ul#topnav li ul li:hover
{
	background:none;
	
}
*/