@model QuanLyTS.Models.tblLoaiTaiSan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết loại tài sản</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLoai }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>
