@model QuanLyTS.Models.tblTinhTrang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết tình trạng tài sản</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.TinhTrang }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>
