<div class="footer">
    <div class="PhanDuoi">
        <!-- Phan MENU Duoi--->
        <!-- KT Phan MENU Duoi--->
        <!-- Phan  Phan Quyen --->
        <div class="PhanBanquyen">

            <br />
            Phần mềm Website Quản lý Tài Sản
            <br />                       
            Copyright &copy;2015 Khoa thông tin máy tính. All right reserved.
        </div>
        <!-- KT Phan  Phan Quyen --->

    </div>
</div>
