


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="Styles/css.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style1 {
            font-size: 16px;
            font-weight: bold;
            background-color: White;
            color: Black;
            height: 220px;
            width: 420px;
            margin-top: 70px;
            margin-left: auto;
            margin-right: auto;
            border: 1px groove gray;
        }

        .Button {
            height: 30px;
            font-size: 12px;
            background: #FFFFFF;
            border-bottom: 1px solid #104A7B;
            border-right: 1px solid #104A7B;
            border-left: 1px solid #AFC4D5;
            border-top: 1px solid #AFC4D5;
            color: #000000;
            font-weight: bold;
            text-decoration: none;
            cursor: hand;
            font-style: normal;
            font-variant: normal;
            line-height: normal;
            font-family: tahoma, verdana, geneva, lucida, "lucida grande", arial, helvetica, sans-serif;
        }

        td {
            border: 0px;
        }

        .dau {
            background-color: Gray;
            color: White;
            height: 30px;
            border: 1px groove black;
        }

        .style2 {
            width: 370px;
        }

        .style3 {
            margin-left: 0px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
