@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết tài khoản</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài khoản
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Danh sách quyền</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Chưa có quyền cho Tài khoản này</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay về danh sách", "Index")
</p>



